.MainContainer {
  background-color: #f5efe7;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainContainer > h2 {
  color: #2c2621;
  font-size: 38px;
  margin: 40px 0;
  border-bottom: 3px solid #c96d1d;
  padding-bottom: 20px;
}

.MainContainer > p {
  width: 60vw;
  font-size: 18px;
  text-align: center;
  line-height: 1.4;
}
