.mainContainer {
  width: 50vw;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .mainContainer {
    width: 80vw;
  }
}

/* @media (max-width: 500px) {
  .mainContainer {
    width: 100vw;
  }
} */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 350px;
  margin: 10px;
  border: solid #f1e9e1 1px;
  border-radius: 15px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.cardContainer:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.cardContainer button {
  width: 180px;
  margin-left: 30px;
}

.icon {
  padding: 10px;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  background-color: #f8f1eb;
  border-radius: 50%;
}

.titleLocation {
  font-size: 38px;
  text-align: center;
  margin: 60px 0;
}

.title {
  margin-left: 30px;
}

.parrafo {
  margin-left: 30px;
}
