* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600;700&display=swap");

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: #2c2621;
}

p {
  line-height: 1.4;
  color: #7e7367;
}

button {
  /* background-color: #c96d1d; */
  font-family: "Inter", sans-serif;
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 2px #c96d1d;
  color: #c96d1d;
  font-weight: bold;
  transition: all 0.4s ease;
  font-size: 18px;
}

button:hover {
  background-color: #c96d1d;
  color: aliceblue;
  cursor: pointer;
}
